@import "../../themes/light.less";

.navbar-container {
    width: 100%;
    height: 50px;
    background-color: @navbar-background-color;

    //flex properties
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    //tag properties
    a {
        text-decoration-line: none;
    }
    h2 {
        color: @light-text-color;
    }
    button {
        color: @highlight-text-color;
        margin-right: 50px;
    }
}

.navbar-header {
    margin: 5px 50px;
    cursor: pointer;
}
