@import './themes/light.less';
@import './themes/colors.less';

//variables
@font-family: Sarabun;
@block-radius: 5px;


body {
    background-color: @primary-background-color;
}

a {
    color: @white;
}

//font-face
@font-face {
    font-family: 'Sarabun';
    src: local("Sarabun"), url(./fonts/Sarabun/Sarabun-Thin.ttf) format('truetype');
    font-weight: 100; //lighter
}

@font-face {
    font-family: 'Sarabun';
    src: url(./fonts/Sarabun/Sarabun-Regular.ttf) format('truetype');
    font-weight: 400; //normal
}

@font-face {
    font-family: 'Sarabun';
    src: url(./fonts/Sarabun/Sarabun-Bold.ttf) format('truetype');
    font-weight: 800; //bold
}
